

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background: rgb(253, 247, 232);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: 20px 0 0 0;
    box-shadow: 0 0 80px  rgb(201, 201, 201);
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title img {
    width: 200px;
    height: 200px;
}

.title span {
    text-transform: capitalize;
    text-align: center;
    margin: 0 5px 10px 5px;
    
}

.title h2 {
    text-transform: capitalize;
    text-align: center;

}

.types {
    display: flex;
    justify-content: center;
}

.types span {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 58px;
    height: 30px;
    border-radius: 6px;
    color: white;
    background: rgb(255, 177, 74);
}

.lineOne div,
.lineTwo div  {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    border-radius: 6px;
    color: white;
    background: rgb(255, 177, 74);
}

.lineOne,
.lineTwo {
    display: flex;
    margin: 5px 0;
    
}
.lineTwo {
    margin: 15px 0 25px 0;
}

.lineOne p:nth-child(1),
.lineTwo p:nth-child(1){
    font-size: 0.8rem;
}

.lineOne p ,
.lineTwo p{
    text-align:center;
    margin: 2px 0 ;
    text-transform: capitalize;
}

.imgContainer { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px 0 0 0 ;
}

@media (max-width: 1100px) {
    .container {
        width: 35%;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 40%;
    }
}

@media (max-width: 900px) {
    .container {
        width: 45%;
    }
}

@media (max-width: 800px) {
    .container {
        width: 50%;
    }
}

@media (max-width: 650px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 450px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 390px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 330px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 310px) {
    .container {
        width: 98%;
    }
}