html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgb(51, 51, 51);
}

.next{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}